html {
  background-color: #03033b;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.matches {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.Button {
  margin-top: 20px;
  background-color: var(--orange-color);
  width: 50%;
}
.match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: calc(30% - 20px*6);
  margin: 20px 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--sky-blue-color);
}
.participant {
  background-color: var(--sky-blue-color);
  margin-bottom: 15px;
}
.scoreWrap {
  margin: 10px;
}
.score {
  text-align: center;
  color: var(--yellow-color);
  font-size: 20px;
  line-height: 24px;
}
